<table mat-table [dataSource]="data()" [border]="1">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nip">
        <th mat-header-cell *matHeaderCellDef>NIP</th>
        <td mat-cell *matCellDef="let item">{{ item.nip }}</td>
    </ng-container>

    <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef>Nama</th>
        <td mat-cell *matCellDef="let item">{{ item.nama }}</td>
    </ng-container>

    <ng-container matColumnDef="jabatan">
        <th mat-header-cell *matHeaderCellDef>Jabatan</th>
        <td mat-cell *matCellDef="let item">{{ item.jabatan }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Aksi</th>
        <td mat-cell *matCellDef="let item">
            <app-authorized-only jabatan="Supervisor">
                <button matIconButton (click)="onDelete(item)" matTooltip="Hapus">
                    <mat-icon>delete</mat-icon>
                </button>
            </app-authorized-only>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
</table>
<app-authorized-only role="Admin">
    <button matButton="filled" (click)="openFormDialog()">Tambah Pegawai</button>
</app-authorized-only>

