<form (ngOnSubmit)="submit()" [formGroup]="form" >
    <h2 mat-dialog-title>{{ isView() ? 'Detail' : isEdit() ? 'Edit' : 'Tambah' }} Kategori</h2>
    <mat-dialog-content>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" [readonly]="isView() || isEdit()" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nama</mat-label>
            <input matInput formControlName="nama" [readonly]="isView()" [required]="!isView()" />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close] type="button">{{ isView() ? 'Tutup' : 'Batal' }}</button>
        @if (!isView())
        {
        <button mat-button (click)="submit()">Simpan</button>
        }
    </mat-dialog-actions>
</form>