<div [formGroup]="form" class="flex flex-col max-w-md mx-auto">
    <h1 class="text-3xl font-bold py-8">Profil Pengguna</h1>
    <mat-form-field appearance="outline">
        <mat-label>Nama</mat-label>
        <input matInput formControlName="nama" [readonly]="true" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="email" [readonly]="true" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>NIP</mat-label>
        <input matInput formControlName="nip" [readonly]="true" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Jabatan</mat-label>
        <input matInput formControlName="jabatan" [readonly]="true" />
    </mat-form-field>
</div>