<div [formGroup]="form">
    <mat-form-field class="w-full">
        <mat-label>Nama</mat-label>
        <input matInput formControlName="nama" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>NIP</mat-label>
        <input matInput formControlName="nip" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Jabatan</mat-label>
        <input matInput formControlName="jabatan" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Gaji</mat-label>
        <input matInput formControlName="gaji" type="number" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
    </mat-form-field>
</div>
<div>
    <button mat-raised-button color="primary" (click)="onSubmit()">Daftar</button>
</div>