<table mat-table [dataSource]="data()" [border]="1">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef>Nama</th>
        <td mat-cell *matCellDef="let item">{{ item.nama }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Aksi</th>
        <td mat-cell *matCellDef="let item">
            <button matIconButton (click)="openFormDialog(item)" matTooltip="Edit Kategori">
                <mat-icon>edit</mat-icon>
            </button>
            <button matIconButton (click)="handleDeleteKategori(item)" matTooltip="Hapus Kategori">
                <mat-icon>delete</mat-icon>
            </button>
            <button matIconButton (click)="openFormDialog(item, true)" matTooltip="Lihat Detail">
                <mat-icon>visibility</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
</table>
<button matButton="filled" (click)="openFormDialog()">Tambah Kategori</button>